<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" onclick="return confirm('Are you sure you want to Delete !')"  value="Delete" />
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>